/* Promt */

.prompt {
    font-size: calc(var(--font-size) * 1vw);
}

/* App */

.prompt__app {
    margin: 0;
    background: black;
    color: white;
    font-family: system-ui, sans-serif;
    line-height: 1.2rem;
}

/* Content */

.prompt__content {
    padding-top: 100vh;
    padding-bottom: calc(50vh - 0.6rem);
    padding-right: 1rem;
    padding-left: 1rem;
    hyphens: auto;
    transform: scaleY(-1);
}

@media (orientation: landscape) {
    .prompt__content {
        padding-right: var(--margins);
        padding-left: var(--margins);
    }
}

.prompt__content p {
    margin: 0;
}

.prompt__content p + p {
    margin-top: 0.8rem;
}

/* Focus */

.prompt__focus {
    position: fixed;
    top: calc(50vh - 0.6rem);
    left: 0;
    right: 0;
    height: 1.2rem;
    background: white;
    opacity: 0.4;
    pointer-events: none;
}
