/* Promt */

.prompt {
	font-size: calc(var(--size) * 1vw);
	}

/* Application */

.prompt__application {
	margin: 0;
	background: #000000;
	color: #ffffff;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	line-height: 1.2rem;
	}

/* Focus */
.prompt__focus {
	position: fixed;
	top: calc(50vh - 0.6rem);
	left: 0;
	width: 100%;
	height: 1.2rem;
	background: rgba(255, 255, 255, 0.3);
	}

/* Content */

.prompt__content {
	padding: 100vh 0.2rem calc(50vh - 0.6rem);
	-webkit-hyphens: auto;
	hyphens: auto;
    transform: scaleY(-1);
	}

/* Paragraphs */

.prompt__content p {
	margin-top: 0;
	margin-bottom: 0;
	}
.prompt__content p + p {
	margin-top: 1.2rem;
	}
